/*Create a font family with the provided file.*/
@font-face {
	font-family: "MSlab"; /*Name of the font family.*/
	src: url("Museo_Slab_700.otf"); /*File the font is stored in.*/
}

/*Assignment of the created MSlab font family to the h1, h2, and h3 elements.*/
h1, h2, h3 {
	font-family: MSlab;
}

/*Items in this element affect the body HTML element.*/
body {
	width: 200%; /*Adjusts the width of the element.*/
}

header {
	padding-top: 10px; /*Adjusts the padding above the element.*/
	padding-bottom: 0px; /*Adjusts the padding below the element.*/
}